/*
#96C0E9 blue
#B1E010 green
#414141 black
#9e9e9e gray
#DFAFB1 pink
#7e191b red
*/
body{
        overflow: hidden;
}
.backingDiv{
        background-color: white;
        width: 100vw;
        height: 100vh;
}

.outerCalcDiv{
        background-color: black;
        display: grid;
        border-radius: 15.2px;
        width: 525px;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 0;
}

.screenDiv{
        background-color: white;
        width: 500px;
        height: 200px;
        border-radius: 15.2px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 10px;
}

.prevCalcDiv{
        background-color: white;
        color: black;
        border-radius: 15.2px;
        display: block;
        padding-top: 2vh;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 7vh;

}


.calcResDiv{
        width: 100%;
        height: 130%;
        display: block;
}

.calc{
        color: black;
        font-family: 'Montserrat', sans-serif;
        flex: 50%;
        margin-left: 3vw;
        font-size: 16px;
}

.prevResult{
        color: black;
        font-family: 'Montserrat', sans-serif;
        flex: 50%;
        text-align: right;
        margin-right: 5vw;
        font-size: 16px;
}

#userInput{
        color: black;
        border-style: none;
        width: 50%;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        padding: 5px;
        line-height: 2;
}

#userInput:focus{
        outline: none;
}

.currCalc{
        margin-top: 3vh;
        margin-left: 3vw;
        position: relative;
}

.screenDivider{
        border-top: 4px solid #9e9e9e;
        border-radius: 15.2px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
}

.buttonDiv{
        display: grid;
        grid-template-columns : 90px 90px 90px 90px 90px;
        grid-template-rows: 74px 74px 74px 74px 74px 74px 74px 74px 74px 74px;
        width: 95%;
        height: 77%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        column-gap: 10px;
}

.aboveBtn{
        display: flex;
        width: 100%;
        height: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
}

.secFunc{
        flex: 1;
        text-align: left;
        width: 100%;
        padding-left: 10px;
        color: #96C0E9;
}

.alphaFunc{
        flex: 1;
        text-align: right;
        padding-right: 10px;
        color: #B1E010;
        width: 100%;
}

.bttn{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 82%;
        height: 25%;
        border-radius: 15.2px;
        border-style: solid;
        border-color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: black;
}

.white{
        background-color: #F9F7F5;
}

.black{
        background-color: #414141;
        color: white;
}

.blue{
        background-color: #96C0E9;
}

.green{
        background-color: #B1E010;
}


#rotateMode{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 4;

        border-radius: 50%;
        width: 125px;
        height: 125px;
        background-color: #F9F7F5;
        color:transparent;
        position:relative;
        margin-left: auto;
        margin-right: auto;
}
      
#left{
        position:absolute;
        top:35%;
        left:0px;
        transform: rotate(270deg);
}
      
#right{
        position:absolute;
        top:35%;
        right:0px;
        transform: rotate(90deg);
}
      
#up{
        position:absolute;
        top:0px;
        left:35%;
}
      
#down{
        position:absolute;
        bottom:0px;
        left:35%;
        transform: rotate(180deg);
}

.arrowBtns{
        border: none;
        width: 40px;
        height: 40px;
        background-color: transparent;
}

#secBtnDiv{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
}

#modeBtnDiv{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;  
}

#delBtnDiv{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;  
}

#alphaBtnDiv{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
}

#xtBtnDiv{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
}

#statBtnDiv{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
}

.btnDiv{
        width: 100%;
        height: 130px;
}


/*#normDiv{
        display: none
}*/

#yEqDiv{
        display: none;
}

.option{
        height: 40px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        background-color: transparent;
        border: none;
        color: black;
}

#modeDiv{
        padding-left: 20px;
        overflow-x: hidden;
        overflow-y: scroll;
        display: none;
}

.menuTitle{
        text-align: center;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        padding-top: 20px;
}

#offDiv{
        display: none;
}

.offScreen{
        background-color:aqua;
        width: 100%;
        height: 100%;
        border-radius: 15.2px;
}


.option.radianOption{
        border-style: solid;
        border-color: #DFAFB1;
        border-radius: 15.2px;
        background-color: #DFAFB1;
        color: white;
}

.navMenuDiv{
        display: flex;
}

.menuOption{
        flex: 50%;
        height: 30px;
        border-style: solid;
        border-color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        background-color: transparent;
        margin-left: 10px;
        margin-right: 10px;
}

#editOption{
        background-color: #DFAFB1;
        color: white;
}

#namesOption{
        background-color: #DFAFB1;
        color: white;
}

#listMath, #statList{
        display: none;
}

#listNames{
        padding-bottom: 0;
}

.menuContentDiv{
        width: 95%;
        height: 49%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        overflow-x: hidden;
        overflow-y: scroll;
}

.innerMenuDiv{
        width: 95%;
        height: 49%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
}

.contentOptions{
        display: block;
        border-style: solid;
        border-color: transparent;
        background-color: transparent;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
}

.contentOptions:hover{
        color:#DFAFB1;
}

.contentOptions:focus{
        color:#DFAFB1;
}

#statEditEditDiv{
        display: none;
}

#listRow{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        column-gap: 0;
}
.listTable{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
}

.listTableHeader{
        text-align: center;
        border-style: solid;
        border-color: black;
        border-width: 1px;
}

.listTableEntry{
        text-align: center;
        border-style: solid;
        border-color: black;
        border-width: 1px;
}

#statCalc{
        display: none;
}
.currValDiv{
        position: relative;
        top: 15px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
}

#currValInput{
        outline: none;
        border: none;
}

.listTableEntry.instance1.initialSelect{
        background-color: #DFAFB1;
}

#listRow{

        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 60px;

}

#listMath{
        display: none;
}

#testDiv, #testLogic{
        display: none;
}


#matrixDiv, #matrixMath, #matrixEdit{
        display: none;
}

th{
        pointer-events: all;
}

#angleDiv{
        display: none;
}

#mathDiv, #mathNum, #mathPrb{
        display: none;
}

#statDiv{
        display: none;
}

#matrixEditorDiv{
        display: none;
}

#formattedEq{
        height: 25px;
}

.matrixDisplay{
        text-align: left;
}

#matrixName{
        padding-right: 25px;
        padding-left: 25px;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        text-align: center;
}

#matrixRowsInput, #matrixColsInput{
        border-style: none;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
}

#matrixRowsInput{
        width: 25px;
        background-color: #DFAFB1;
}

.matrixTable{
        width: 90%;
        height: 95px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

#dimensions{
        flex: 8%;
}
#tblSpc{
        flex: 92%;
}


#xInputs{
        width: 100%;
        height: 68%;
        padding-top: 10px;
        padding-left: 18px;
}

.matrixCells{
        border-style: solid;
        border-width: 2px;
        border-color: #9e9e9e;
        width: 50px;
        height: 25px;
        text-align: center;
}

#matrixEditInput{
        color: black;
        border-style: none;
        width: 50%;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        padding: 5px;
        line-height: 2;
        outline: none;
}

.enterVals{
        font-family: 'Montserrat', sans-serif;
        line-height: 2;
        padding-left: 15px;
        padding-right: 15px;
}

.graphEqScroll{
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 70%;
        padding-left: 5px;
        padding-right: 5px;
}

.yEqInput{
        color: black;
        border-style: none;
        width: 50%;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        padding: 5px;
        line-height: 2;
        outline: none;
}

.yEqColor{
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 1px;
        margin-left: 5px;
        margin-right: 5px;
}


.y1{
        background-color: #900603;
}

.y2{
        background-color: #565051;
}

.y3{
        background-color: #29ab87;
}

.y4{
        background-color: #4f97a3;
}

.y5{
        background-color: #e4717a;
}

.y6{
        background-color: #cc5801;
}

.y7{
        background-color: #fada5e;
}

.y8{
        background-color: #630436;
}

.y9{
        background-color: #adadc9;
}

.y10{
        background-color: #318ce7;
}


/*
y= colors:
1: #900603 red 
2: #565051 black/gray
3: #29ab87 green
4: #4f97a3 turquoise
5: #e4717a pink
6: #cc5801 orange
7: #fada5e yellow
8: #630436 deep purple
9: #adadc9 light purple
10: #318ce7 blue
*/